# Virtual Environment
inventory_api_venv/
venv/
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo

# Database
*.db
*.db-journal

# Build files
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log

# Temp files
*.swp
*.swo